.table {
  //TODO : адаптив на width
  width: 330px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 10px;

  &__name {
    font-size: 25px;
    text-align: center;
  }

  &__tasks {

    min-height: 300px;
    margin: 0 7px 7px;
    border-radius: 10px;
    border: 2px solid white;
    padding: 20px;
  }
}
