.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: 25px;
  color: #0d0d0da1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #e9eaed;
  background-color: #fff;
  text-align: center;
}
