.add {
  width: 310px;
  margin: 100px auto 10px auto;

  .ant-btn {
    z-index: 3;
    color: rgba(13, 13, 13, 0.631372549);
    line-height: 20px;
    font-size: 20px;
    height: 40px;
    border: 2px solid #e9eaed;
    border-radius: 10px;

    .ant-btn-block {
      border-radius: 10px;
    }

    &:hover, &:focus {
      color: rgba(13, 13, 13, 0.93);
      border-color: rgb(174, 192, 159);
      background: #fff;
    }
  }
}
