.container {
  background-color: #edeef0;
  min-height: 100vh;
  letter-spacing: 1px;
}

.ant-btn {
  border: 2px solid #e9eaed;
  border-radius: 10px;
  line-height: 100%;


  .ant-btn-block {
    border-radius: 10px;
    color: #81e125;
  }

  &:hover, &:focus {
    border-color: rgb(19 185 32 / 38%);
    color: black;
  }
}

///Цвет прайм-кнопки
.ant-btn-primary {
  background: rgb(19 185 32 / 38%);

  &:hover, &:focus {
    background: white;
    color: rgb(19 185 32 / 70%);
  }
}